<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="$daoPackage">

    <resultMap  id="BaseResultMap" type="$domainPackage.$domainClass">
#foreach($resultMap in $resultMapList)
        <result column="$resultMap.dbColumn" property="$resultMap.javaField"/>
#end
    </resultMap>

    <sql id="Base_Column_List">#foreach($resultMap in $resultMapList)#set($dbsaveAttr= $resultMap.dbColumn)#if($velocityCount != 1), #end$dbsaveAttr#end</sql>

    <sql id="Base_Column_List_Without_Id">#foreach($resultMap in $resultMapList)#if($resultMap.dbColumn =='id')#else#set($dbsaveAttr= $resultMap.dbColumn)#if($velocityCount != 2), #end$dbsaveAttr#end#end</sql>

</mapper>
